.layout {
  margin: 0 auto;
  max-width: 700px;
}

.header {
  margin-bottom: 10px;
  padding: 10px 0;
}

.home-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--text-normal);
}

.logo-canvas {
  margin-right: 15px;
  height: 0;
}

.blogs {
  margin: 0 0 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.blog {
  white-space: nowrap;
}

.footer {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
